.FooterMenu{
    list-style: none;
    padding: 0;
    margin: 0 30px 30px 30px;
}
.FooterMenu li:first-of-type{
    margin-bottom: 5px;
    font-size: 18px;
}
.FooterMenu li{
    font-size: 12px;
    color: #666;
}
.FooterMenu li:hover{
    text-decoration: underline;
}
@media (max-width: 670px){
    .FooterMenu li:first-of-type{
        font-size: 22px;
    }
    .FooterMenu li{
        font-size: 16px;
    }
}