.Items{
    display: flex;
}
.Menu1{
    width: 150px;
    user-select: none;
}
.Menu1 a{
    display: block;
    background-color: aliceblue;
    padding: 5px;
    cursor: pointer;
}
.Menu1 a:hover{
    background-color: #AAA;
}

.Menu2{
    width: 300px;
    user-select: none;
    background-color: #AAA;
    text-align: center;
}
.Menu2 button{
    background-color: #FFF;
    border: 3px solid #000;
    border-radius: 10px;
}
