.Newsletter{
    text-align: center;
    padding: 20px;
    background-color: #D0869D;

}
.Newsletter p{
    margin: 0 10px 10px 10px;
    color: #FFF;
}
.Newsletter form{
    display: flex;
    justify-content: center;
}
.Newsletter input{
    width: 300px;
    height: 40px;
    border-radius: 30px 0 0 30px;
    border-right: none;
    padding-left: 20px;
    outline: none;
    border: 3px solid #af617a;
    border-right: none;
}
.Newsletter button{
    height: 40px;
    border-radius: 0 30px 30px 0;
    padding: 5px;
    background-color: #FFF;
    transition: all 0.3s linear;
    border: 3px solid #af617a;
    outline: none;
    cursor: pointer;
}
.Newsletter button:hover{
    background-color: #af617a;
}