.Title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title img{
    width: 200px;
    height: auto;
}
.Title input{
    border: 3px solid #87DCBD;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    border-right: none;
    outline: none;
}
.Title button{
    padding: 10px;
    background-color: #FFF;
    border: 3px solid #87DCBD;
    border-radius: 0 30px 30px 0;
    transition: all linear 0.3s;
}
.Title button:hover{
    background-color: #87DCBD;
}

@media (max-width: 660px){
    .Title{
        flex-direction: column;
    }
    .Items{
        margin: 20px;
    }
}