.Title{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 660px){
    .Title{
        flex-direction: column;
    }
    .Items{
        margin: 20px;
    }
}