.Main{
    margin: auto;
    padding: 20px;
    width: 1200px;
}
.Img{
    width: 100%;
    height: auto;
    margin: 20px 0;
}
@media (max-width: 1200px){
    .Main{
        width: 90%;
    }
}
@media (max-width: 825px){
    .Main{
        width: 100%;
    }
}