.Page{
    background-color: #87DCBD;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
}
.Login{
    margin: 0 50px;
    display: block;
    align-items: center;
    flex-wrap: wrap;
}

.Login img{
    width: 150px;
    height: auto;
}